*.class
*.jar
.settings
.project
.classpath
.idea
target
*.iml
dependency-reduced-pom.xml
.factorypath
bin/
automation-credentials.properties
github.properties
interop-testdata-override.xml
interop-testdata.xml
